Program/Connected Services/TelefonServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SmartPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Light" nillable="true" type="tns:Sensor" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pedometer" nillable="true" type="tns:Sensor" />
      <xs:element minOccurs="0" name="Proizvajalec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proximity" nillable="true" type="tns:Sensor" />
      <xs:element minOccurs="0" name="Stanje" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartPhone" nillable="true" type="tns:SmartPhone" />
  <xs:complexType name="Sensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Km" type="xs:double" />
      <xs:element minOccurs="0" name="Light" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proizvajalec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stanje" type="xs:boolean" />
      <xs:element minOccurs="0" name="Steps" type="xs:int" />
      <xs:element minOccurs="0" name="TurnOff" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensor" nillable="true" type="tns:Sensor" />
</xs:schema>