Program/Connected Services/TelefonServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64634/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataResult" nillable="true" type="q1:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetStateResult" nillable="true" type="q2:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="SetStateResult" nillable="true" type="q3:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseSteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="RaiseStepsResult" nillable="true" type="q4:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartSteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="RestartStepsResult" nillable="true" type="q5:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOffScreen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOffScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="TurnOffScreenResult" nillable="true" type="q6:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjustBrightness">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjustBrightnessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="AdjustBrightnessResult" nillable="true" type="q7:SmartPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorPedometer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorPedometerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataSensorPedometerResult" nillable="true" type="q8:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorProximity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorProximityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataSensorProximityResult" nillable="true" type="q9:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorLight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorLightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataSensorLightResult" nillable="true" type="q10:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>