Program/Connected Services/TelefonServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64634/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64634/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64634/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IService1_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetState" />
  </wsdl:message>
  <wsdl:message name="IService1_SetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RaiseSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:RaiseSteps" />
  </wsdl:message>
  <wsdl:message name="IService1_RaiseSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:RaiseStepsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RestartSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartSteps" />
  </wsdl:message>
  <wsdl:message name="IService1_RestartSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartStepsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TurnOffScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnOffScreen" />
  </wsdl:message>
  <wsdl:message name="IService1_TurnOffScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnOffScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdjustBrightness_InputMessage">
    <wsdl:part name="parameters" element="tns:AdjustBrightness" />
  </wsdl:message>
  <wsdl:message name="IService1_AdjustBrightness_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdjustBrightnessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorPedometer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorPedometer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorPedometer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorPedometerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorProximity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorProximity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorProximity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorProximityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorLight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorLight" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataSensorLight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSensorLightResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetState" message="tns:IService1_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStateResponse" message="tns:IService1_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetState" message="tns:IService1_SetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetStateResponse" message="tns:IService1_SetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RaiseSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RaiseSteps" message="tns:IService1_RaiseSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RaiseStepsResponse" message="tns:IService1_RaiseSteps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RestartSteps" message="tns:IService1_RestartSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RestartStepsResponse" message="tns:IService1_RestartSteps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnOffScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TurnOffScreen" message="tns:IService1_TurnOffScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TurnOffScreenResponse" message="tns:IService1_TurnOffScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdjustBrightness">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdjustBrightness" message="tns:IService1_AdjustBrightness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdjustBrightnessResponse" message="tns:IService1_AdjustBrightness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorPedometer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataSensorPedometer" message="tns:IService1_GetDataSensorPedometer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataSensorPedometerResponse" message="tns:IService1_GetDataSensorPedometer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorProximity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataSensorProximity" message="tns:IService1_GetDataSensorProximity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataSensorProximityResponse" message="tns:IService1_GetDataSensorProximity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorLight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataSensorLight" message="tns:IService1_GetDataSensorLight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataSensorLightResponse" message="tns:IService1_GetDataSensorLight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap:operation soapAction="http://tempuri.org/IService1/GetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetState">
      <soap:operation soapAction="http://tempuri.org/IService1/SetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaiseSteps">
      <soap:operation soapAction="http://tempuri.org/IService1/RaiseSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartSteps">
      <soap:operation soapAction="http://tempuri.org/IService1/RestartSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOffScreen">
      <soap:operation soapAction="http://tempuri.org/IService1/TurnOffScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustBrightness">
      <soap:operation soapAction="http://tempuri.org/IService1/AdjustBrightness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorPedometer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataSensorPedometer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorProximity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataSensorProximity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSensorLight">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataSensorLight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64634/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>