Program/Connected Services/WatchServiceReference/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SmartWatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeartMonitor" nillable="true" type="tns:WatchSensor" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proizvajalec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkinTemp" nillable="true" type="tns:WatchSensor" />
      <xs:element minOccurs="0" name="Stanje" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartWatch" nillable="true" type="tns:SmartWatch" />
  <xs:complexType name="WatchSensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beats" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proizvajalec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stanje" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temp" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WatchSensor" nillable="true" type="tns:WatchSensor" />
</xs:schema>