Program/Connected Services/WatchServiceReference/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64634/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataResult" nillable="true" type="q1:SmartWatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetStateResult" nillable="true" type="q2:SmartWatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="SetStateResult" nillable="true" type="q3:SmartWatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorHeartMonitor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorHeartMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataSensorHeartMonitorResult" nillable="true" type="q4:WatchSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorSkinTemp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSensorSkinTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="GetDataSensorSkinTempResult" nillable="true" type="q5:WatchSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseBeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseBeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="RaiseBeatsResult" nillable="true" type="q6:SmartWatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Termometer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TermometerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServices" minOccurs="0" name="TermometerResult" nillable="true" type="q7:SmartWatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>